assistants/constitutional-law/ingestion/n8n/norm-ingestion.workflow.json
{
  "name": "Legal Ingestion — Normas (CF/1988 + ECs)",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-0000-0000-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-180, 120]
    },
    {
      "parameters": {
        "rule": { "interval": [ { "field": "weeks", "weeksInterval": 1 } ] }
      },
      "id": "11111111-0000-0000-0000-000000000002",
      "name": "Weekly Check (ECs)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-180, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "c1", "name": "source_title", "type": "string", "value": "Constituição Federal de 1988 — Planalto" },
            { "id": "c2", "name": "source_url", "type": "string", "value": "https://www.planalto.gov.br/ccivil_03/constituicao/constituicao.htm" },
            { "id": "c3", "name": "norm_short_name", "type": "string", "value": "CF/1988" },
            { "id": "c4", "name": "norm_official_id", "type": "string", "value": "Constituição da República Federativa do Brasil de 1988" },
            { "id": "c5", "name": "practice_area", "type": "string", "value": "constitucional" },
            { "id": "c6", "name": "embedding_model", "type": "string", "value": "text-embedding-3-small" }
          ]
        },
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000003",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [60, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Carrega os dispositivos a ingerir e injeta os metadados do Config em cada item.\n// PRODUÇÃO: substitua o array `provisions` por um fetch + parser da fonte oficial\n// (HTTP Request -> Planalto/LexML -> parser Akoma Ntoso). Contrato de saída por item:\n//   { citation_key, label, full_text, amended_by, valid_from (YYYY-MM-DD|null), verification }\n// verification começa 'pendente'; só vira 'verificada' após conferência na fonte primária.\nconst cfg = $('Config').first().json;\n\nconst provisions = [\n  {\n    citation_key: 'art. 5º, caput, CF',\n    label: 'art. 5º (caput)',\n    full_text: 'Todos são iguais perante a lei, sem distinção de qualquer natureza, garantindo-se aos brasileiros e aos estrangeiros residentes no País a inviolabilidade do direito à vida, à liberdade, à igualdade, à segurança e à propriedade, nos termos seguintes:',\n    amended_by: 'redação original',\n    valid_from: '1988-10-05',\n    verification: 'pendente'\n  },\n  {\n    citation_key: 'art. 5º, LV, CF',\n    label: 'art. 5º, inciso LV',\n    full_text: 'aos litigantes, em processo judicial ou administrativo, e aos acusados em geral são assegurados o contraditório e a ampla defesa, com os meios e recursos a ela inerentes;',\n    amended_by: 'redação original',\n    valid_from: '1988-10-05',\n    verification: 'pendente'\n  }\n];\n\nreturn provisions.map((p) => ({ json: { ...cfg, ...p } }));"
      },
      "id": "11111111-0000-0000-0000-000000000004",
      "name": "Load Provisions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "={{ $json.embedding_model }}" },
            { "name": "input", "value": "={{ $json.full_text }}" }
          ]
        },
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000005",
      "name": "OpenAI Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "credentials": {
        "openAiApi": { "id": "REPLACE_OPENAI_CRED_ID", "name": "OpenAI account" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Constrói o UPSERT idempotente (CTE) para um dispositivo.\n// Lê os campos do item original via paired-item ($('Load Provisions').item)\n// e o embedding da resposta da OpenAI ($json.data[0].embedding).\nconst src = $('Load Provisions').item.json;\nconst emb = $json.data[0].embedding;\nconst vec = '[' + emb.join(',') + ']';\n\nconst esc = (s) => String(s).replace(/'/g, \"''\");\nconst lit = (s) => (s === null || s === undefined || s === '') ? 'NULL' : `'${esc(s)}'`;\nconst dat = (s) => (s === null || s === undefined || s === '') ? 'NULL' : `'${esc(s)}'::date`;\nconst verif = (s) => `'${esc(s || 'pendente')}'::legal.verification_status`;\n\nconst query = `WITH s AS (\n  INSERT INTO legal.source (source_type, title, url, authority, official)\n  VALUES ('norma', ${lit(src.source_title)}, ${lit(src.source_url)}, 'Planalto', true)\n  ON CONFLICT (source_type, url) WHERE url IS NOT NULL DO UPDATE SET title = EXCLUDED.title\n  RETURNING id\n),\nn AS (\n  INSERT INTO legal.norm (source_id, short_name, official_id, practice_area)\n  SELECT s.id, ${lit(src.norm_short_name)}, ${lit(src.norm_official_id)}, ${lit(src.practice_area)}::legal.practice_area FROM s\n  ON CONFLICT (short_name) DO UPDATE SET official_id = EXCLUDED.official_id\n  RETURNING id\n),\np AS (\n  INSERT INTO legal.norm_provision (norm_id, label, citation_key)\n  SELECT n.id, ${lit(src.label)}, ${lit(src.citation_key)} FROM n\n  ON CONFLICT (norm_id, citation_key) DO UPDATE SET label = EXCLUDED.label\n  RETURNING id\n),\nv AS (\n  INSERT INTO legal.norm_version (provision_id, full_text, amended_by, valid_from, source_id, verification, embedding)\n  SELECT p.id, ${lit(src.full_text)}, ${lit(src.amended_by)}, ${dat(src.valid_from)}, s.id, ${verif(src.verification)}, '${vec}'::vector\n  FROM p CROSS JOIN s\n  ON CONFLICT (provision_id, content_hash) DO NOTHING\n  RETURNING id\n)\nINSERT INTO legal.document_chunk (source_id, ref_table, ref_id, chunk_index, content, embedding)\nSELECT s.id, 'norm_version', v.id, 0, ${lit(src.full_text)}, '${vec}'::vector\nFROM v CROSS JOIN s\nON CONFLICT (ref_table, ref_id, chunk_index) DO NOTHING;`;\n\nreturn { json: { citation_key: src.citation_key, query } };"
      },
      "id": "11111111-0000-0000-0000-000000000006",
      "name": "Build Upsert Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "11111111-0000-0000-0000-000000000007",
      "name": "Postgres: Upsert Norma",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [940, 200],
      "credentials": {
        "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "Postgres - legal" }
      }
    }
  ],
  "connections": {
    "Manual Trigger":      { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Weekly Check (ECs)":  { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config":              { "main": [[{ "node": "Load Provisions", "type": "main", "index": 0 }]] },
    "Load Provisions":     { "main": [[{ "node": "OpenAI Embeddings", "type": "main", "index": 0 }]] },
    "OpenAI Embeddings":   { "main": [[{ "node": "Build Upsert Query", "type": "main", "index": 0 }]] },
    "Build Upsert Query":  { "main": [[{ "node": "Postgres: Upsert Norma", "type": "main", "index": 0 }]] }
  }
}
