assistants/constitutional-law/ingestion/n8n/precedent-ingestion.workflow.json
{
  "name": "Legal Ingestion — Jurisprudência (STF/STJ)",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "nodes": [
    {
      "parameters": {},
      "id": "22222222-0000-0000-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-180, 120]
    },
    {
      "parameters": {
        "rule": { "interval": [ { "field": "days", "daysInterval": 1 } ] }
      },
      "id": "22222222-0000-0000-0000-000000000002",
      "name": "Daily Check (jurisprudência)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-180, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "p1", "name": "embedding_model", "type": "string", "value": "text-embedding-3-small" }
          ]
        },
        "options": {}
      },
      "id": "22222222-0000-0000-0000-000000000003",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [60, 200]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Carrega precedentes a ingerir. PRODUÇÃO: substitua o array por um fetch da\n// fonte (HTTP -> STF/STJ APIs ou crawler) + parser. Contrato por item:\n//   { court, body, case_number(*), rapporteur, judged_at, headnote, thesis,\n//     binding, practice_area, verification, source_title, source_url }\n// (*) case_number deve ser SEMPRE preenchido com um id estável (nº do processo\n//     OU enunciado, ex.: 'Súmula Vinculante 11') — é a chave de idempotência.\nconst cfg = $('Config').first().json;\n\nconst precedents = [\n  {\n    court: 'STF',\n    body: 'Plenário',\n    case_number: 'Súmula Vinculante 11',\n    rapporteur: '',\n    judged_at: '2008-08-22',\n    headnote: 'Uso de algemas.',\n    thesis: 'Só é lícito o uso de algemas em casos de resistência e de fundado receio de fuga ou de perigo à integridade física própria ou alheia, por parte do preso ou de terceiros, justificada a excepcionalidade por escrito, sob pena de responsabilidade.',\n    binding: true,\n    practice_area: 'constitucional',\n    verification: 'pendente',\n    source_title: 'STF — Súmula Vinculante 11',\n    source_url: 'https://portal.stf.jus.br/jurisprudencia/sumarioSumulas.asp?base=26'\n  }\n];\n\nreturn precedents.map((p) => ({\n  json: { ...cfg, ...p, embed_text: [p.headnote, p.thesis].filter(Boolean).join(' | ') }\n}));"
      },
      "id": "22222222-0000-0000-0000-000000000004",
      "name": "Load Precedents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "={{ $json.embedding_model }}" },
            { "name": "input", "value": "={{ $json.embed_text }}" }
          ]
        },
        "options": {}
      },
      "id": "22222222-0000-0000-0000-000000000005",
      "name": "OpenAI Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "credentials": {
        "openAiApi": { "id": "REPLACE_OPENAI_CRED_ID", "name": "OpenAI account" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const src = $('Load Precedents').item.json;\nconst emb = $json.data[0].embedding;\nconst vec = '[' + emb.join(',') + ']';\n\nconst esc = (s) => String(s).replace(/'/g, \"''\");\nconst lit = (s) => (s === null || s === undefined || s === '') ? 'NULL' : `'${esc(s)}'`;\nconst dat = (s) => (s === null || s === undefined || s === '') ? 'NULL' : `'${esc(s)}'::date`;\nconst bool = (b) => (b === true || b === 'true') ? 'true' : 'false';\n\nconst query = `WITH s AS (\n  INSERT INTO legal.source (source_type, title, url, authority, official)\n  VALUES ('jurisprudencia', ${lit(src.source_title)}, ${lit(src.source_url)}, ${lit(src.court)}, true)\n  ON CONFLICT (source_type, url) WHERE url IS NOT NULL DO UPDATE SET title = EXCLUDED.title\n  RETURNING id\n),\npr AS (\n  INSERT INTO legal.precedent (source_id, court, body, case_number, rapporteur, judged_at, headnote, thesis, binding, practice_area, verification, embedding)\n  SELECT s.id, ${lit(src.court)}::legal.court, ${lit(src.body)}, ${lit(src.case_number)}, ${lit(src.rapporteur)}, ${dat(src.judged_at)}, ${lit(src.headnote)}, ${lit(src.thesis)}, ${bool(src.binding)}, ${lit(src.practice_area)}::legal.practice_area, ${lit(src.verification || 'pendente')}::legal.verification_status, '${vec}'::vector\n  FROM s\n  ON CONFLICT (court, case_number) WHERE case_number IS NOT NULL\n  DO UPDATE SET thesis = EXCLUDED.thesis, headnote = EXCLUDED.headnote, embedding = EXCLUDED.embedding\n  RETURNING id\n)\nINSERT INTO legal.document_chunk (source_id, ref_table, ref_id, chunk_index, content, embedding)\nSELECT s.id, 'precedent', pr.id, 0, ${lit(src.embed_text)}, '${vec}'::vector\nFROM pr CROSS JOIN s\nON CONFLICT (ref_table, ref_id, chunk_index) DO UPDATE SET content = EXCLUDED.content, embedding = EXCLUDED.embedding;`;\n\nreturn { json: { case_number: src.case_number, query } };"
      },
      "id": "22222222-0000-0000-0000-000000000006",
      "name": "Build Upsert Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "22222222-0000-0000-0000-000000000007",
      "name": "Postgres: Upsert Precedente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [940, 200],
      "credentials": {
        "postgres": { "id": "REPLACE_POSTGRES_CRED_ID", "name": "Postgres - legal" }
      }
    }
  ],
  "connections": {
    "Manual Trigger":               { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Daily Check (jurisprudência)": { "main": [[{ "node": "Config", "type": "main", "index": 0 }]] },
    "Config":                       { "main": [[{ "node": "Load Precedents", "type": "main", "index": 0 }]] },
    "Load Precedents":              { "main": [[{ "node": "OpenAI Embeddings", "type": "main", "index": 0 }]] },
    "OpenAI Embeddings":            { "main": [[{ "node": "Build Upsert Query", "type": "main", "index": 0 }]] },
    "Build Upsert Query":           { "main": [[{ "node": "Postgres: Upsert Precedente", "type": "main", "index": 0 }]] }
  }
}
